{{/* Header */}}

<div class="header">
  <div class="header-content">
    <h1 class="header-title">{{ site.Title }}</h1>
    <button id="darkModeToggle">
      <img
        id="modeIcon"
        src="https://img.icons8.com/ios-filled/50/FFD700/sun.png"
        alt="Toggle Theme"
        width="24"
        height="24"
      />
    </button>
  </div>

  <div class="menu">
    {{ $currentPage := . }} {{ with site.Params.menu }} {{ range . }}
    <p class="small {{ if eq .url $currentPage.Path }} bold {{end}}">
      <a href="{{.url}}" class="menu-link"> {{.name }} </a>
    </p>
    {{ end }} {{ end }}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const darkModeToggle = document.getElementById("darkModeToggle");
    const body = document.body;
    const modeIcon = document.getElementById("modeIcon");

    const isDarkMode = localStorage.getItem("darkMode") === "true";

    setTheme(isDarkMode);

    function toggleDarkMode() {
      const isDarkMode = localStorage.getItem("darkMode") === "true";
      localStorage.setItem("darkMode", !isDarkMode);
      setTheme(!isDarkMode);
    }

    function setTheme(isDarkMode) {
      if (isDarkMode) {
        body.classList.add("dark");
        modeIcon.src =
          "https://img.icons8.com/ios-filled/50/FFD700/crescent-moon.png";
      } else {
        body.classList.remove("dark");
        modeIcon.src = "https://img.icons8.com/ios-filled/50/FFD700/sun.png";
      }
    }

    darkModeToggle.addEventListener("click", toggleDarkMode);
  });
</script>
